.about-section {
  background-image: linear-gradient(-90deg, rgba(128, 128, 128, 0.816) 0%, rgba(128, 0, 0, 0.867) 70%);
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.about-content .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-content .card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(234, 217, 202, 0.4);
}

.image-gallery .about-img {
  border: 3px solid #ddd;
  border-radius: 15%;
  padding: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.image-gallery .about-img:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 20px rgba(223, 188, 155, 0.4);
}

/* Animations */
@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


